@media (max-width: 1024px) {
    header{
        nav{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: auto;
            .items{
                ul{
                    justify-self: left;
                    align-self: flex-end;
                    text-align: left;
                }
            }
            img{
                padding-right: 4rem;
            }
            .buscador{
                display: none;
            }
            .micuenta{
                display: none;
            }
        }
    }
    .grid1{
        .sectionQuienesPrincipal{
            div{
                font-size: 1.3rem;
                padding-top: 1rem;
                padding-top: 1rem;
            }
        }
    }   
    footer{
        .direccion{
            justify-content: flex-start;
            align-items: center;
                p{
            font-size: 0.8rem;
            }
        }
        .oca{
            height: 6rem;;
        }
    }
}
