@media (max-width: 768px){
    header{
        .navbar{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: auto;
            .items{
                padding-left: 2rem;
                ul{
                    justify-self: center;
                    align-self: flex-end;
                    text-align: left;
                    li{
                        a{
                            font-size: 1rem;
                        }
                    }
                }
            }
            img{
                padding-right: 2rem;
            }
            .buscador{
                display: none;
            }
        }
    }
    .sectionIndexPrincipal{
        h1{
            font-size: 2rem;
            padding: 1rem 1rem;
        }
        h2{
            font-size: 1.25rem;
        }
    }
    .grid1{
        .sectionQuienesPrinicpal {
                    p{ 
                    padding-top: 1rem;
                    margin-left: 0.75rem;
                    text-align: left;
                    font-size: 1.3rem;
                    font-weight: 25rem;
                }
            }
        .ubicacion{
            p{
                font-size: 1rem;
                margin-left: 0.75rem;
            }
        }
        .logo{
            img{
                width: 4rem;
                height: 4rem;
                border-radius: 0.8rem;
            }
        }
        .mapa{
            width: 22rem;
            height: 20rem;
            iframe{
                width: 20rem;
                height: 18rem;
                overflow: hidden;
            }
        }
        .grid-sale{
            .sale{
                font-size: 3rem;
                padding: 0.7rem 0.7rem;
            }
        .boton1{
            gap: .75rem;
            padding: 1.5rem;
            text-align: center;
            border-radius: 0.5rem;
            a{
                font-size: 2rem;
            }
        }
        .boton2{
            gap: .75rem;
            padding: 1.5rem;
            text-align: center;
            border-radius: 0.5rem;
            a{
                font-size: 2rem;
            }
        }
        .boton3{
            gap: .75rem;
            padding: 1.5rem;
            text-align: center;
            border-radius: 0.5rem;
            a{
                font-size: 2rem;
            }
        }
        .boton4{
            gap: .75rem;
            padding: 1.5rem;
            text-align: center;
            border-radius: 0.5rem;
            a{
                font-size: 2rem;
            }
        }
    }
    }
    .grid{
        .formulario{
            width: 48rem;
        }
        h2{
            font-size: 2rem;
        }
        .otrasvias{
                li{
                    a{
                        font-size: 1rem ;
                    }
                    img{
                        justify-content: center;
                        align-content: center;
                        width: 3.5rem;
                        height: 3.5rem;
                    }
                }
            }
        }
    footer{
        width: 100%;
        height: 25rem;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        padding-bottom: 3rem;
        .direccion{
            width: 7.5rem;
            height: 6.25rem;
            justify-content: flex-end;
            align-items: flex-start;
            padding-bottom: 3rem;
            p{
                font-size: .75rem;
                justify-self: flex-end;
                align-self:self-start;
            }
        }
        .tarjetas{
            display:none;
        }
        .redes{
            ul{
                flex-direction: column;
                align-items: flex-end;
                align-items: start;
                li{
                    align-items: flex-start; 
                    font-size: .8rem;
                    img{
                        width: 1.5rem;
                        height: fit-content;
                        justify-content: center;
                        align-content: center;
                        }
                    }
                }
            }
        }
        
    }

