@media (max-width: 480px) {
    header{
        .navbar{
            display: flex;
            width:100%;
            height: 8rem;
            justify-content:space-around;
            align-items:start;
            padding-right: 4rem;
            .items{ 
                display:flex;
                flex-wrap: wrap;
                justify-content:flex-start;
                align-content: flex-start;
                align-items:flex-start;
                padding-left: .5rem;
                padding-bottom: 0;
                ul{
                    display: flex; 
                    flex-direction:column;
                    justify-items: flex-start;
                    align-items: flex-start;
                    li{
                        padding-right: 0px;
                    }
                }
            }
            img{
                display:flex;
                width: 8rem;
                height:7rem;
                justify-content: start;
                align-items: center;
                padding-left: 2rem;
            }
            .mi-cuenta{
                display: none;
            }
        }
    }
    footer{
        width:100%;
        justify-content: center;
        align-items: center;
        padding-right: 0px;
        padding-left: 6px;
        .redes{
            display:flex;
            justify-content: center;
            align-items: center;
            ul{
                gap:2rem;
                li{
                    width: 1rem;
                    height:1rem;
                    font-size: 0.5rem;
                    a{
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
    main{
        width:100%;
        .sectionIndexSecundaria{
            width:100%;
        .video{
            width: 22rem;
            height: 16rem;
            .video2{
                width: 100%;
                height: 16rem;
                }
            }
        }
    }
    .grid1{ 
        width: 100%;
        display:flex;
        flex-direction: column;
        background-size: cover;
        .sectionQuienesPrincipal{
            width: 100%;
            background-size:cover;
            justify-content: center;
            align-items: center;
        }
    .kenburns-top{
        p{
            font-size: 1.6rem;
        }
    }
        .sectionQuienesSecundaria{
            width:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:2rem;
            p{
            font-size: 1.5rem;   
            }
                .ubicacion{
                    display: flex;
                    flex-direction: column;
                    p{
                        justify-items: center;
                        align-items: flex-start;
                        font-size: 1.5rem;
                    }
                }
                .logo{
                    display: none;
                    img{
                        display: none;
                    }
                }    
                .mapa{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    justify-items: center;
                    align-items: center;
                }        
            }
        }
    .cards{
        width:29rem;
    }
    .catalogo{
        width: 100%;
        h1{
            padding-top: 2rem;
            height: 12rem;
            justify-content: center;
            align-items: center;
            font-size: 0.5rem ;
        }
    }
    .grid{
        width: 100%;
        h1{
            font-size: 3rem;
        }
        .formulario{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            form{
                display: flex;
                width:100%;
            fieldset{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 18rem;
                border-radius: 1rem;
                }
            }
        }
    }
    .main-sale{
        display:flex;
        .grid-sale{
            display: flex;
            flex-direction: column;
        } 
    }
}

