@media (max-width: 320px) {
    header{
        .navbar{
            display: flex;
            width: 100%;
            height: 10rem;
            align-items: self-start;
                .items{
                justify-content: flex-start;
                align-content: flex-start;
                justify-items:flex-start;
                align-items:flex-start;
                padding-left: 0.25rem;
                padding-right: 1rem;
                padding-bottom: 2rem;
                ul{
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    width: auto;
                    padding-right: 0%;
                    padding-left: 0%;
                    justify-content: flex-start;
                    align-items: flex-start;
                    li{
                        text-align:start;
                        a{ 
                            font-size: 0.8rem;
                        }
                    }
                }
            }
            img{
                height:auto;
                width: auto;
                padding-right: 1rem;
            }
        }
    }
    .sectionIndexPrincipal{
        width: 20rem;
        height: 31.25rem;
        @include flex (flex, column, none, center, center, 6rem);
        text-align: center;
        background-color: rgb(240, 240, 160);
        background-image: url("../assets/img/bebe-pies.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center
    }
    .sectionIndexSecundaria{
        width: 100%;
        height: 25rem;
        .video{
            width: 18rem;
            height: 20rem;
            .video2{
                width: 100%;
                height: 16rem;
            }
        }
    }
    .grid1{
        .sectionQuienesSecundaria{
            .mapa{
                width: 15rem;
                height: 18rem;
                iframe{
                    width: 14rem;
                    height: 16rem;
                    overflow: hidden;
                }
            }
        }
    }
    .tienda{
        display: flex;
        flex-direction: column ;
        background-color: #cfa721a4;
        width: 100%;
        height:auto;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        h1{
            width: 19rem;
            font-size: 3rem;
        }
        .cards{
            width: 15rem;
            height: auto;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;
            justify-self: center;
            align-self: center;
            article{
                img{
                    width: 12rem;
                    height: 16rem;
                }
                p{
                    font-size:1rem;
                }
                .botonT{
        padding:0;
        a{
            font-size: 1.5rem;
            &:hover{
                font-size: 2rem;
            }
        }
    }
            }
        }
    }
    
    .grid{
        width: 20rem;
        h1{
            font-size: 2.8rem;
        }
        .formulario{
            display: flex;
            width: 19.5rem;
            form{
                display: flex;
            fieldset{
                display: flex;
                flex-direction: column;
                width: 19em;
                height: 16rem;
                border-radius: 1rem;
                }
            }
        }
    }
    .catalogo{
        width: 100%;
        height: 40rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        h1{
            font-size: 1rem;
        }
    }
}