@media (max-width: 320px) {
    header{
        .navbar{
            display: flex;
            width: 100%;
            height: 11rem;
            align-items: self-end;
            padding-bottom: 1rem;
                .items{
                justify-content: flex-start;
                align-content: flex-start;
                justify-items:flex-start;
                align-items:flex-end;
                padding-left: 0.25rem;
                padding-right: 1rem;
                ul{
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    width: auto;
                    padding-right: 0;
                    padding-left: 0;
                    justify-content: flex-start;
                    align-items: flex-start;
                    li{
                        text-align:start;
                        a{ 
                            font-size: 0.8rem;
                        }
                    }
                }
            }
            img{
                height:auto;
                width: auto;
                padding-right: 1rem;
            }
        }
    }
    footer{
        width:100%;
        justify-content: space-between;
        align-items: center;
        padding-right: 0px;
        padding-left: 0px;
        .direccion{
            width: 6.25rem;
            padding-right: 0px;
            padding-left: 4px;
            margin-right: 0px;
            margin-left:0px;
            p{
            font-size: 0.5rem;
        }           
    }
}
    main{
        width:100%;
        .sectionIndexSecundaria{
            width:100%;
        .video{
            width: 22rem;
            height: 16rem;
            .video2{
                width: 100%;
                height: 16rem;
                }
            }
        }
    }
    main{
        .sectionIndexPrincipal{
        width: 20rem;
        height: 31.25rem;
        @include flex (flex, column, none, center, center, 6rem);
        text-align: center;
        background-color: rgb(240, 240, 160);
        background-image: url("../assets/img/bebe-pies.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center
    }
    .sectionIndexSecundaria{
        width: 100%;
        height: 25rem;
        .video{
            width: 20rem;
            height: 16rem;
            .video2{
                width: 100%;
                height: 16rem;
            }
        }
    }
    }
    .grid1{
        width:100%;
        height:70rem;
        background-position: 50%;
        padding-top:0;
        .sectionQuienesPrinicpal{
            width:100%;
            height:40rem;
                p{
                font-size: 1.5rem;
                }
            }
        .sectionQuienesSecundaria{
            width:100%;
            height: 30rem;
            background-position: 50%;
            justify-content: center;
            align-items: center;
            .mapa{
                width: 14rem;
                height: 16rem;
                justify-content: center;
                align-content: center;
                align-items: center;
                iframe{
                    width: 12rem;
                    height: 14rem;
                    overflow: hidden;
                }
            }
        }
    }
    
    .tienda{
        display: flex;
        flex-direction: column ;
        background-color: #cfa721a4;
        width: 100%;
        height:auto;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        h1{
            width: 19rem;
            font-size: 3rem;
        }
        .cards{
            width: 20rem;
            height: auto;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;
            justify-self: center;
            align-self: center;
            article{
                img{
                    width: 12rem;
                    height: 16rem;
                }
                p{
                    font-size:1rem;
                }
                .botonT{
            padding:0;
        a{
            font-size: 1.5rem;
            &:hover{
                font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
    
    .grid{
        width: 100%;
        h1{
            font-size: 2.8rem;
        }
        .formulario{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items:center;
            form{
                display: flex;
                justify-content: center;
                align-items: center;
            fieldset{
                display: flex;
                flex-direction: column;
                width: 19em;
                height: 16rem;
                border-radius: 1rem;
                }
            }
        }
        .otrasvias{
            gap:6px;
        }
    }
    .catalogo{
        width: 100%;
        height: 50rem;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        h1{
            font-size: 1rem;
        }
    }
}
