@media (max-width: 480px) {
    header{
        .navbar{
            display: flex;
            width:100%;
            height: 10rem;
            justify-content:space-around;
            align-items:flex-start;
            padding-right: 4rem;
            .items{ 
                display:flex;
                flex-wrap: wrap;
                justify-content:flex-start;
                align-content: flex-start;
                align-items:flex-start;
                padding-left: .5rem;
                padding-bottom: 0;
                ul{
                    display: flex; 
                    flex-direction:column;
                    justify-items: flex-start;
                    align-items: flex-start;
                    li{
                        padding-right: 0px;
                    }
                }
            }
            img{
                width: 8rem;
                height:7rem;
                justify-content: end;
                align-items:flex-end;
                padding-left: 2rem;
            }
            .mi-cuenta{
                display: none;
            }
        }
    }
    footer{
        width:100%;
        height: 25rem;
        justify-content: center;
        align-items: center;
        .direccion{
            p{
                display: none;
            }
        }
        .tarjetas{
            img{
                display: none;
            }
        }
    }
    .grid1{ 
        width: 100%;
        height: 90rem;
        display:flex;
        flex-direction: column;
        gap:1rem;
        background-size: cover;
        .sectionQuienesPrincipal{
            height: 70rem;
            background-size: contain;
            p{
            font-size: 0.5rem;
        }
    }
        .sectionQuienesSecundaria{
            height: 30rem;
            display: flex;
            flex-direction: column;
            gap:2rem;
                .ubicacion{
                    display: flex;
                    flex-direction: column;
                    p{
                        justify-items: center;
                        align-items: flex-start;
                    }
                }
                .logo{
                    display: none;
                    img{
                        display: none;
                    }
                }    
                .mapa{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    justify-items: center;
                    align-items: center;
                }        
            }
        }
    .cards{
        width:29rem;
    }
    .grid{
        width: 100%;
        h1{
            font-size: 3rem;
        }
    }
    .catalogo{
        width: 26rem;
        h1{
            padding-top: 2rem;
            height: 12rem;
            justify-content: center;
            align-items: center;
            font-size: 0.5rem ;
        }
    }
        .formulario{
            display: flex;
            width: 29rem;
            form{
                display: flex;
            fieldset{
                display: flex;
                flex-direction: column;
                width: 29rem;
                height: 18rem;
                border-radius: 1rem;
                }
            }
        }
    .main-sale{
        display:flex;
        .grid-sale{
            display: flex;
            flex-direction: column;
        } 
    }
}
