$color-h1: rgb(80, 74, 6);
$color-h2:rgb(166, 91, 10);
$font-h1: "Kotta One", serif;
$font-h2:"Kotta One", serif;
$navbar-a-color: rgb(80, 74, 6);
$footer-a-color: #c51605;
$font-a:"Edu SA Beginner", cursive;
$background: rgb(243, 224, 199);