.grid1{
        width: 100%;
        height: 86rem;
        @include grid ( grid, repeat(4, 25%), repeat (4, 25%), "sectionQuienesPrinicpal sectionQuienesPrinicpal sectionQuienesPrinicpal sectionQuienesPrinicpal" "sectionQuienesPrinicpal sectionQuienesPrinicpal sectionQuienesPrinicpal sectionQuienesPrinicpal" "ubicacion ubicacion mapa mapa" "logo logo mapa mapa");
        justify-content: space-between;
        background-color: #ffe17b;
        .kenburns-top{-webkit-animation:kenburns-top 5s cubic-bezier(.25,.46,.45,.94) 2s reverse forwards;animation:kenburns-top 5s cubic-bezier(.25,.46,.45,.94) 2s reverse forwards}
        .sectionQuienesPrinicpal {
                grid-area: sectionQuienesPrinicpal;
                background-image: url("../assets/img/bebe-peludo.jpg");
                background-repeat: no-repeat;
                background-position: 40%;
                height: 37.5rem;
                background-size: cover;
        p{
                color: rgb(80, 74, 6);
                padding-top: 1rem;
                margin-left: .75rem;
                text-align: left;
                font-size: 2.5rem;
                font-weight: 37.5rem;
        }

        @-webkit-keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}@keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}
        }
        .ubicacion{
                display: grid;
                grid-area: ubicacion;
                justify-self: flex-start;
                align-self: center;
                font-size: 1.875rem;
                margin-left: .75rem;
                color: rgb(80, 74, 6);
                text-align: left;
                font-style: italic;
                font-weight: 25rem;
        p{
                color: rgb(80, 74, 6);
                margin-left: .75rem;
                text-align: left;
                font-size: 1.5rem;
                font-weight: 37.5rem;
        }
        }
        .logo{
        display: grid;  
        grid-area: logo;
        justify-self: flex-end;
        align-self: self-start;
        img{
                width:8rem;
                height: 8rem;
                border-radius: 1rem; 
        }
        }
        .mapa{
        display: grid;
        grid-area: mapa;
        display: flex;
        justify-content: center;
        align-content: center;
        justify-self: center;
        align-self: center;
        width: 28rem;
        height: 24rem;
        background-color: #cfa721a4;
        border-width: 4px;
        border-style: groove;
        border-color: rgba(80, 74, 6, 0.808);
        border-radius: 1rem;
        background-size: cover;
        background-position: center;
        background-size: cover;
        background-position: center;
        iframe {
                border-radius: 1rem;
                justify-self: center;
                align-self: center;
                background-size: cover;
                background-position: center;
                }
        }    
}

