.grid1{
        width: 100%;
        height: 100rem;
        @include grid ( grid, repeat(4, 25%), repeat(4, 25%), "sectionQuienesPrinicpal sectionQuienesPrinicpal sectionQuienesPrinicpal sectionQuienesPrinicpal" "sectionQuienesPrinicpal sectionQuienesPrinicpal sectionQuienesPrinicpal sectionQuienesPrinicpal" "ubicacion logo mapa mapa" "ubicacion logo mapa mapa");
        justify-content: space-around;
        background-color: #ffe17b;
        .kenburns-top{-webkit-animation:kenburns-top 5s cubic-bezier(.25,.46,.45,.94) 2s reverse forwards;animation:kenburns-top 5s cubic-bezier(.25,.46,.45,.94) 2s reverse forwards}
        .sectionQuienesPrinicpal {
                display:grid;
                grid-area: sectionQuienesPrinicpal;
                background-image: url("../assets/img/bebe-peludo.jpg");
                background-repeat: no-repeat;
                background-position: 50%;
                width: 100%;
                height: 50rem;
                background-size: cover;
                p{
                color: rgb(80, 74, 6);
                padding-top: 1rem;
                margin-left: .75rem;
                text-align: left;
                font-size: 2.5rem;
                }

        @-webkit-keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}@keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}
        }
        .sectionQuienesSecundaria{
                width: 100%;
                height: 50rem;
                display: grid;
        }
        .ubicacion{
                display: grid;
                grid-area: ubicacion;
                justify-content: center;
                align-items: center;
                p{
                justify-self: center;
                align-self: center;
                padding-left: 0.75rem;
                font-size: 1.875rem;
                color: rgb(80, 74, 6);
                font-style: italic;
                }
        }
        .logo{ 
        display: grid;
        grid-area: logo;
                img{
                display: grid;
                justify-self: flex-end;
                align-self: self-start;
                width: 8rem;
                height: 8rem;
                border-radius: 1rem; 
                }
        }
        .mapa{
        display: grid;
        grid-area: mapa;
        width: 25rem;
        height: 22rem;
        background-color: #cfa721a4;
        background-size: cover;
        border-width: 4px;
        border-style: groove;
        border-color: rgba(80, 74, 6, 0.808);
        border-radius: 1rem;
        
        iframe { 
                display: grid;
                width: 23rem;
                height: 20rem;
                justify-content: center;
                align-content: center;
                justify-self: center;
                align-self: center;
                background-size: cover;
                background-position: center;
                }
        }    
}

