main{
    .sectionIndexPrincipal{
        width: 100%;
        height: 31.25rem;
        @include flex (flex, column, none, center, center, 6rem);
        text-align: center;
        background-color: rgb(240, 240, 160);
        background-image: url("../assets/img/bebe-pies.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .platero{
            color: $color-h1;
            text-align: center;
            font-family: $font-h1;
            font-size: 4rem;
            padding: 2rem 2rem;
            animation-name: titulo;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-delay: 2s;
            animation-duration: 4s;
            
        }
        @keyframes titulo {
            0%{ 
            color: rgb(113, 139, 19);
            transition: rotate ( 25deg);
            
            }
            25%{
                color: rgb(80, 94, 32);
                transition: rotate ( 45deg); 
            }
            50%{
                color: rgb(113, 139, 19);
            transition: rotate ( 90deg);
            }
            100%{
                color: rgb(80, 74, 6);
                transition: rotate ( 45deg);
            }

    }
        
        h2{
            font-family: $font-h2;
            color: $color-h2;
            text-align: center;
            font-size: 2.5rem;
        }
    }
    .boton1{
        @extend .boton1
    }
    .sectionIndexSecundaria{
        display: flex;
        justify-content: center;
        background-image: linear-gradient(to bottom, #f0f0a5, #e9e99e, #e2e296, #dbdb8f, #d4d488, #d2d287, #cfcf85, #cdcd84, #cece88, #cfcf8c, #d0d08f, #d1d193);
        width: 100%;
        height: 25rem;
        background-size: cover;
        background-position: center;
        .video{
            justify-content: center;
            background-color: rgb(177, 167, 55);
            width: 20rem;
            height: 22rem;
            box-sizing: border-box;
            border-width: 10px;
            border-style: groove;
            border-color: rgb(166, 91, 10);
            border-radius: 0.5rem;
            box-shadow: #8d731fa4;
            margin: 16px 10px 4px 16px;
            .video2{
                justify-self: center;
                width: 100%;
                height: 20rem;
                padding: 10px 20px;
                padding: 1.25rem;
                background-size: cover;
            }
        }
    }
}
