.boton1{
    padding: .5rem;
    text-align: center;
    border-radius: 1rem;
    background-color: rgb(240, 240, 160);
    border: none;
    justify-self: center;
    align-self: center;
    a{
        font-family: $font-a;
        text-decoration: none;
        color: #c51605;
        text-align: center;
        font-size: 1.25rem;
        &:hover{
            font-size: 1.5rem;
            color:rgba(172, 12, 12, 0.842);
        }
    }
}